<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DigitalSignageUI-20160413024431.mdf;Initial Catalog=aspnet-DigitalSignageUI-20160413024431;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServicesPortBinding" allowCookies="true" bypassProxyOnLocal="false"
          maxBufferPoolSize="3147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_Iads" />
        <binding name="BasicHttpBinding_Itvs" />
        <binding name="BasicHttpBinding_Icontents" />
        <binding name="BasicHttpBinding_Ialarms" />
        <binding name="BasicHttpBinding_Istores" />
        <binding name="BasicHttpBinding_IliveVideos" />
        <binding name="BasicHttpBinding_Iweather" />
        <binding name="BasicHttpBinding_Imaps" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:14985/Services/ads.svc" binding="basicHttpBinding"
        bindingConfiguration="WebServicesPortBinding" contract="AdsServices.Iads"
        name="BasicHttpBinding_Iads" />
      <endpoint address="http://localhost:14985/Services/tvs.svc" binding="basicHttpBinding"
        bindingConfiguration="WebServicesPortBinding" contract="TvsServices.Itvs"
        name="BasicHttpBinding_Itvs" />
      <endpoint address="http://localhost:14985/Services/contents.svc" binding="basicHttpBinding" bindingConfiguration="WebServicesPortBinding" contract="ContentsServices.Icontents" name="BasicHttpBinding_Icontents" />
      <endpoint address="http://localhost:14985/Services/alarms.svc" binding="basicHttpBinding" bindingConfiguration="WebServicesPortBinding" contract="AlarmsServices.Ialarms" name="BasicHttpBinding_Ialarms" />
      <endpoint address="http://localhost:14985/Services/stores.svc" binding="basicHttpBinding" bindingConfiguration="WebServicesPortBinding" contract="StoresServices.Istores" name="BasicHttpBinding_Istores" />
      <endpoint address="http://localhost:14985/Services/liveVideos.svc" binding="basicHttpBinding" bindingConfiguration="WebServicesPortBinding" contract="LiveVideosServices.IliveVideos" name="BasicHttpBinding_IliveVideos" />
      <endpoint address="http://localhost:14985/Services/weather.svc" binding="basicHttpBinding" bindingConfiguration="WebServicesPortBinding" contract="WeatherServices.Iweather" name="BasicHttpBinding_Iweather" />
      <endpoint address="http://localhost:14985/Services/maps.svc" binding="basicHttpBinding" bindingConfiguration="WebServicesPortBinding" contract="MapsServices.Imaps" name="BasicHttpBinding_Imaps" />
    </client>
  </system.serviceModel>
</configuration>