<!DOCTYPE html>
<html ng-app="application" ng-controller="mainCtrlr">
<head>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>


    <!-- Front-End-->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/util/forms.js"></script>
    <script src="~/Scripts/util/utils.js"></script>
    <script src="~/Scripts/util/sourceNames.js"></script>
    <script src="~/Scripts/util/sourceFactories.js"></script>
    <script src="~/Scripts/FrontEndController/mainCtrlr.js"></script>

    <!-- Front-End-->
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
       Powered By Isatis 
    </div>
</body>
</html>
