<!DOCTYPE html>
<html ng-app="application" ng-controller="mainCtrlr">
<head>


    <!-- tvShow styles-->
    <script src="~/Skins/CSS_tvShow/js/foundation.js"></script>
    <script src="~/Skins/CSS_tvShow/js/templates.js"></script>
    <script src="~/Skins/CSS_tvShow/js/routes.js"></script>
    <script src="~/Skins/CSS_tvShow/js/app.js"></script>
    <script src="~/Skins/CSS_tvShow/script/jquery.simpleWeather.js"></script>

    <link id="pagestyle" href="~/Skins/CSS_tvShow/css/app.css" rel="stylesheet" type="text/css" title="default">
    <link href="~/Skins/CSS_tvShow/css/uicon.css" rel="stylesheet" type="text/css">
    <link href="~/Skins/CSS_tvShow/css/wi.css" rel="stylesheet" type="text/css">
    <link href="~/Skins/CSS_tvShow/css/coin-slider-styles.css" rel="stylesheet" type="text/css">
    <script src="~/Skins/CSS_tvShow/script/coin-slider.js"></script>
    <script src="~/Skins/CSS_tvShow/flowPlayer/flowplayer-3.2.13.min.js"></script>
    <!-- tvShow styles-->
    <!-- Front-End-->
    <script src="~/Scripts/util/forms.js"></script>
    <script src="~/Scripts/util/utils.js"></script>
    <script src="~/Scripts/util/sourceNames.js"></script>
    <script src="~/Scripts/util/sourceFactories.js"></script>
    <script src="~/Scripts/FrontEndController/mainCtrlr.js"></script>


    <!-- Front-End-->
</head>
<body>
    <div class="container body-content">
        @RenderBody()


    </div>
</body>
</html>
