

<script src="~/Scripts/FrontEndController/showContentCtrlr.js"></script>

@{
    Layout = "~/Views/Shared/_Layout_tvShow.cshtml";
}

<div class="hd" id="ShowContent" ng-controller="showContentCtrlr">
   
    @Html.Partial("~/Views/Show/ShowContent_Type1.cshtml");
</div>

<script>
   // $('#ShowContent').load("Show/ShowContent_Type1");
</script>



