@charset "utf-8";
/* CSS Document */

body,td,th {
	
}
body {
	background-color: #EEE;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.wrapper {
	width: 1280px;
	height: 720px;
	margin: 0px auto;
	background-image: url(../../Images/Content/block06BK.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#clockPlace{
	position: relative;
	float: right;
	margin-right: 30px;
	clear: both;
}
#front{
	position:absolute;
	top:9px;
}
.blockRight {
	width: 360px;
	height: 480px;
	float: right;
}
.blockRightTxtPlace {
	padding-right: 15px;
	clear: both;
}

.blockRightTxtPlace ul{
	height:239px;
}

.blockRightTitle01 {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #FFF;
	text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.blockRightTitle02 {
	height: 54px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #FFF;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
	overflow: hidden;
	padding-top: 10px;
}
.blockRightTxt02 {
	height: 165px;
	text-align: center;
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	font-size: 22px;
	font-weight: 600;
	color: #FFF;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
	overflow: hidden;
	padding-top: 10px;
}
.blockVideoPlace {
	padding: 10px;
}
.blockVideo {
	width: 880px;
	height: 480px;
	float: left;
	vertical-align: middle;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: 
    inset 0 2px 3px rgba(255,255,255,0.3),
    inset 0 -2px 3px rgba(0,0,0,0.3),
    0 1px 1px rgba(255,255,255,0.9);
}
.blockVideoPlayback {
	width: 880px;
	height: 480px;
	overflow: hidden;
	background-color: #000;
}
.blockVideoPlaybackAdmin {
	overflow: hidden;
	color: #CCC;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	text-align: right;
	line-height: 20px;
	padding: 140px 240px 0px 0px;
	direction: rtl;
	margin: 0px auto;
}
.blockAdminInput {
	height: 20px;
	width: 232px;
	line-height: 20px;
	vertical-align: middle;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-align: right;
}
.blockAdminInputS {
	height: 20px;
	width: 35px;
	line-height: 20px;
	vertical-align: middle;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-align: right;
}
.blockAdminInputNo {
	font-size: 11px;
	font-weight: 600;
	color: #FFF;
	margin: 0px 2px;
}
.blockAdminInputTitle {
	height: 44px;
	line-height: 44px;
	vertical-align: middle;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #FFF;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
	overflow: hidden;
	margin-top: 2px;	
	background-color: transparent;
	border: 1px #FFF dotted;
}
.blockAdminRightTxt02 {
	height: 115px;
	width: 335px;
	text-align: center;
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	font-size: 22px;
	line-height: 27px;
	font-weight: 600;
	color: #FFF;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
	overflow: hidden;
	margin-top: 2px;
	background-color: transparent;
	border: 1px #FFF dotted;
}
.blockAdminControlRightTxt02 {
	height: 30px;
	width: 335px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #FFF;
	text-shadow: 0px 0px 0px rgba(0,0,0,0);
	direction: rtl;
}
.blockAdminBtn {
	height: 25px;
	width: 90px;
	line-height: 17px;
	vertical-align: middle;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-align: right;
	cursor: pointer;
}
.blockAdminBtn2 {
	height: 25px;
	line-height: 17px;
	vertical-align: middle;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-align: right;
	cursor: pointer;
	float: left;
}
.blockAdminBtnOption {
	margin: 0px auto;
	clear: both;
}
.blockAdminBtnPlace {
}
.blockAdminBtnNext, .blockAdminBtnNext a {
	height: 25px;
	width: 90px;
	line-height: 25px;
	vertical-align: middle;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: 600;
	color: #FFF;
	background-color: #09F;
	text-align: center;
	cursor: pointer;
	margin: 4px 2px;
}
.blockAdminBtnNext:hover, .blockAdminBtnNext a:hover {
	background-color: #36F;
}
.blockAdminBtnNextS, .blockAdminBtnNextS a {
	height: 25px;
	width: 25px;
	line-height: 25px;
	vertical-align: middle;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: 600;
	color: #FFF;
	background-color: #09F;
	text-align: center;
	cursor: pointer;
	margin: 4px 2px;
}
.blockAdminBtnNextS:hover, .blockAdminBtnNextS a:hover {
	background-color: #36F;
}
.blockAdminBtnDefault, .blockAdminBtnDefault a {
	height: 55px;
	width: 207px;
	line-height: 55px;
	vertical-align: middle;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: 600;
	color: #333;
	background-color: #E4E4E4;
	text-align: center;
	cursor: pointer;
	margin: 4px 2px;
}
.blockAdminBtnDefault:hover, .blockAdminBtnDefault a:hover {
	background-color: #CCC;
}
.blockAdminBtnDefaultSelect, .blockAdminBtnDefaultSelect a {
	height: 55px;
	width: 207px;
	line-height: 55px;
	vertical-align: middle;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: 600;
	color: #333;
	background-color: #E4E4E4;
	background-image: url(../images/btnArr.png);
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
	cursor: pointer;
	margin: 4px 2px;
}
.blockAdminBtnDefaultSelect:hover, .blockAdminBtnDefaultSelect a:hover {
	background-color: #CCC;
}
.blockAdminBtnOk, .blockAdminBtnOk a {
	height: 25px;
	width: 140px;
	line-height: 25px;
	vertical-align: middle;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: 600;
	color: #FFF;
	background-color: #0C3;
	text-align: center;
	cursor: pointer;
	margin: 4px 2px;
}
.blockAdminBtnOk:hover, .blockAdminBtnOk a:hover {
	background-color: #3C0;
}
.blockAdminBtnDel, .blockAdminBtnDel a {
	height: 25px;
	width: 25px;
	line-height: 25px;
	vertical-align: middle;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: 600;
	color: #FFF;
	background-color: #F90;
	text-align: center;
	cursor: pointer;
	margin: 4px 2px;
}
.blockAdminBtnDel:hover, .blockAdminBtnDel a:hover {
	background-color: #F60;
}
.blockAdminBtnArr, .blockAdminBtnArr a {
	height: 25px;
	width: 25px;
	line-height: 25px;
	vertical-align: middle;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: 600;
	color: #FFF;
	background-color: #09F;
	text-align: center;
	cursor: pointer;
	margin: 4px 2px;
}
.blockAdminBtnArr:hover, .blockAdminBtnArr a:hover {
	background-color: #36F;
}
.blockFooter {
	width: 1240px;
	height: 160px;
	font-size: 48px;
	font-weight: 600;
	text-align: right;
	color: #41666D;
	clear: both;
	padding: 20px;
	z-index: 99;
}
.blockFooterRight {
	width: 360px;
	height: 160px;
	float: right;
}
.blockFooter01 {
	width: 260px;
	height: 180px;
	float: right;
	background-color: #FFF;
	overflow: hidden;
	margin: 5px 30px 5px 15px;
}
.blockblockFooter01Admin {
	overflow: hidden;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	text-align: right;
	line-height: 20px;
	padding: 10px;
	direction: rtl;
	margin: 0px auto;
}
.blockAdminInputNoBlack {
	font-size: 11px;
	font-weight: 600;
	color: #333;
	margin: 0px 2px;
}
.blockFooter02 {
	width: 260px;
	height: 180px;
	float: right;
	background-color: #FFF;
	overflow: hidden;
	margin: 5px 15px;
}
.blockFooter03 {
	width: 260px;
	height: 180px;
	float: right;
	background-color: #FFF;
	overflow: hidden;
	margin: 5px 15px 5px 0px;
}

#slideshow01	{ position: relative; width: 260px; height: 180px; font-size: 0px; display: block; }
#slideshow01 ul	{ padding: 0px; margin: 0px; }
#slideshow01 li   { position: absolute; top: 0; left: 0; z-index: 2; display: block; }

#slideshow02	{ position: relative; width: 260px; height: 180px; font-size: 0px; display: block; }
#slideshow02 ul	{ padding: 0px; margin: 0px; }
#slideshow02 li   { position: absolute; top: 0; left: 0; z-index: 2; display: block; }

#slideshow03	{ position: relative; width: 260px; height: 180px; font-size: 0px; display: block; }
#slideshow03 ul	{ padding: 0px; margin: 0px; }
#slideshow03 li   { position: absolute; top: 0; left: 0; z-index: 2; display: block; }


.blockRightTxt03 {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 29px;
	font-weight: 600;
	color: #B8B8B8;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
	overflow: hidden;
}
.embossed-heavy {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 
    inset 0 2px 3px rgba(255,255,255,0.3),
    inset 0 -2px 3px rgba(0,0,0,0.3),
    0 1px 1px rgba(255,255,255,0.9);
}
.emphasize-dark {
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.emphasize-light {
  box-shadow: 0 0 0 10px rgba(255,255,255,.25);
}

.emphasize-inset {
  box-shadow: inset 0 0 7px 4px rgba(255,255,255,.5);
}

.emphasize-border {
  box-shadow: inset 0 0 0 7px rgba(255,255,255,.5);
}
.shadow {
	position: relative;
	max-width: 100%;
	box-shadow: 0px 1px 8px rgba(0,0,0,0.5),
				0px 0px 20px rgba(0,0,0,0.3) inset;
}
.shadow::before,
.shadow::after {
   content:"";
   position:absolute;
   z-index:-1;
}
.shadow::before,
.shadow::after {
   content:"";
   position:absolute;
   z-index:-1;
   bottom:15px;
   left:10px;
   width:50%;
   height:20%;
}
.shadow::before,
.shadow::after {
   content:"";
   position:absolute;
   z-index:-1;
   bottom:15px;
   left:10px;
   width:50%;
   height:20%;
   box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   transform:rotate(-3deg);
}
.shadow::after{
   right:10px;
   left:auto;
   transform:rotate(3deg);
}


.blockAlarm {
	width: 1280px;
	height: 85px;
	background-color: #333;
	color: #FFF;
	bottom: 0px;
	position: absolute;
	margin: 0px auto;
	z-index: 999;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
	font-weight: 600;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
	overflow: hidden;
	padding-top: 10px;
	-webkit-opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=90);
	opacity: 0.9;
}
.blockAlarmCenter {
	width: 700px;
	height: auto;
	background-color: #FF0;
	background-image: url(../images/bkNotification.png);
	background-position: right;
	background-repeat: no-repeat;
	color: #333;
	top: 250px;
	position: absolute;
	margin: 0px auto;
	z-index: 999;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
	font-weight: 600;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.1);
	text-align: center;
	overflow: hidden;
	padding: 10px;
	margin-left: 270px;
	-webkit-opacity: 0.95;
	-moz-opacity: 0.95;
	filter:alpha(opacity=95);
	opacity: 0.95;
}




.insGridViewTree2 {
	padding: 0px;
	font-size: 11px;
	width: 418px;
	height: 180px;
	background-color: #111;
	border: 1px #333333 solid;
	overflow-x: hidden;
	overflow-y: scroll;
}
.insGridViewTree2 > ul {
	color: #AFEF9C;
}
.insGridViewTree2 .titleMode, .insGridViewTree2 .titleMode:hover {
	padding: 5px;
	color: #2ECA00;
	background-color: #AFEF9C;
	font-size: 11px;
	font-weight: 600;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}
.insGridViewTree2 .titleMode:hover {
	color: #2ECA00;
	background-color: #AFEF9C;
}
.insGridViewTree2 > li {
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	padding: 7px;
	padding-right: 2px;
	padding: 1px;
	cursor: pointer;
	border-bottom: 1px #CDCDCD dotted;
}
.insGridViewTree2 > li:hover {
	padding-right: 5px;
	color: #333;
	background-color: #F0F0F0;
	border-bottom: 1px #CDCDCD dotted;
	-webkit-transition: .3s;
	transition: .3s;
}
.insGridViewTree2 .selected, .insGridViewTree2 .selected:hover {
	font-weight: 600;
	padding-right: 5px;
	color: #FFF;
	background-color: #2ECA00;
	border-bottom: 1px #2ECA00 dotted;
	-webkit-transition: .3s;
	transition: .3s;
}
.insGridViewTree2 > li { clear: none !important; }




